version: '3.8'

services:
  postgres:
    image: postgres:14-alpine
    environment:
      POSTGRES_DB: shl_testing
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin123
    ports:
      - "5433:5432"
    healthcheck:
          test: [ "CMD-SHELL", "pg_isready -U postgres" ]
          interval: 10s
          timeout: 5s
          retries: 5

  clickhouse:
    image: clickhouse/clickhouse-server:23.3-alpine
    ports:
      - "8123:8123"
      - "9000:9000"
    ulimits:
      nofile:
        soft: 262144
        hard: 262144
    healthcheck:
      test: [ "CMD", "wget", "--no-verbose", "--tries=1", "--spider", "http://localhost:8123/ping" ]
      interval: 30s
      timeout: 5s
      retries: 3
  benchmark:
    build: .
    container_name: compare_pg_clickh-benchmark
    depends_on:
      postgres:
        condition: service_healthy
      clickhouse:
        condition: service_healthy
    env_file:
      - .env
    volumes:
      - ./results:/app